.topDiv{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    border-radius: 22px;
    padding: 0.5em 1em;
    color: white;
    background-color: blueviolet;
    border: none;
}
ul{
    list-style-type: none;
}

/* Detail Section*/
.detailSection{
    display: flex;
}
.detailsDiv{
    width: 50vw;
    padding-left: 1em;
}
.detailsImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}
.detailsImage img{
    width: 70%;
    border-radius: 10%;
}

/* Benefits Section*/
.benefitsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f6fa;
}
.benefitsSection h1{
    padding: 1em !important;
}
.benefitsDiv{
    padding-bottom: 1em;
}
.benefitsDiv li{
    font-weight: 500;
}

/* Muscle Types Section*/
.muscleTypesSection{
    width: 80vw;
    margin: auto;
    padding-top: 4em;
}
.muscleTypesSection a{
    color: white;
}
.muscleTypesSection a:hover{
    text-decoration: none;
}
#iconsText{
    display: flex;
    width: 50vw;
    margin: 2em auto;
    justify-content: center;
    color: black;
}
.muscleTypeDivs{
    display: flex;
    flex-direction: row;
    padding: 3em;
}
.muscleTypeDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2em;
    width: 27vw;
    height: 37vh;
    background-color: purple;
    margin: auto;
    color: white;
    -webkit-box-shadow: 2px 3px 11px 4px rgba(49,49,49,0.48); 
box-shadow: 2px 3px 11px 4px rgba(49,49,49,0.48);
}
.muscleTypeDiv img{
    width: 50%;
    padding-bottom: 1em;
}
.muscleTypeDivWhite{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2em;
    width: 25vw;
    height: 33vh;
    background-color: white;
    margin: auto;
    color: black;
    -webkit-box-shadow: 2px 3px 11px 4px rgba(49,49,49,0.48); 
box-shadow: 2px 3px 11px 4px rgba(49,49,49,0.48);
}
.muscleTypeDivWhite img{
    width: 50%;
    padding-bottom: 1em;
}
.muscleTypeBtn{
    width: 80%;
}

/* Who Trains Section*/
.whoTrainsSection{
    background-color: #353535;
}
.whoTrainsMainDiv h1{
    padding-top: 1em;
}
.whoTrainsMainDiv{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-bottom: 1em;
}
.whoTrainsSection p{
    color: white;
    font-weight: 200;
}
.whoTrainsSection h5{
    color: white;
    font-weight: 300;
}

/* Buy Workout Program Section */
.buyPlanSection{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.buyPlanSection h1{
    padding-top: 2em;
}   
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2em;
    font-size: 16px;
    text-align: center;
  }
  .grid-text{
      text-align: left;
      font-size: 15px;
      line-height: 2em;
      width: 70%;
      margin: auto;
  }
  .grid-header{
    border-bottom: 1px solid rgba(189, 3, 196, 0.8);
  }
  .grid-middle{
    border-left: 1px solid rgba(189, 3, 196, 0.8);
    border-right: 1px solid rgba(189, 3, 196, 0.8);
  }
  
  .price{
      color: purple;
      font-weight: 600;
  }

/* Color dividers across the site, represents the BJJ belt colors */
.colorDividerBlue{
    width: 100vw;
    height: 1vh;
    background-color: blue;
    position: sticky;
}
.colorDividerPurple{
    width: 100vw;
    height: 1vh;
    background-color: purple;
}
.colorDividerBrown{
    width: 100vw;
    height: 1vh;
    background-color: brown;
}
.colorDividerBlack{
    width: 100vw;
    height: 1vh;
    background-color: black;
}

/* Media Queries */
@media all and (max-width: 620px){
    .detailSection{display: block;}
    .detailsDiv{
        width: 100vw;
    }
    .detailsImage{
        width: 100vw;
        padding-bottom: 2em;
        justify-content: center;
    }
}

@media all and (max-width: 850px){
    .muscleTypesSection{
        width: 100vw;
    }
    .muscleTypesSection p{
        width: 90%;
        margin: auto;
    }
    .muscleTypeBtn{
        font-size: 0.9em;
    }
    .muscleTypeDiv{
        height: 26vh;
    }
    .muscleTypeDivWhite{
        height: 23vh;
    }
}

@media all and (max-width: 620px){
    .buyPlanSection{
        width: 100vw;
    }
    .grid-container{
        display: grid;
        padding: 0;
        width: 90vw;
        margin: auto;
  }
  .grid-header h5{
      font-size: 1em;
  }
  .grid-text{
      font-size: 0.8em;
      width: 100%;
      line-height: 2.3em;
  }
  .grid-item button{
      font-size: 0.9em;
  }
}